<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="enquiry()">
        <ion-icon slot="icon-only"  name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Enquiry Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item  class="ion-card-header2">
      <ion-label style="color: white;">Bending Material</ion-label>
    </ion-item>
<ion-item lines="none">
<img src="assets/icon/cut.jpg" class="menuicon"/>
<ion-label text-wrap>
Quantity : 2  <br>
Thickness : 2mm <br>
Bill : 500Rs <br>
Status : In-progress

</ion-label>
</ion-item>

</ion-card>

<ion-card>
  <ion-item   class="ion-card-header2" style="margin-bottom:20px;">
    <ion-label style="color: white;">Order Tracking</ion-label>
  </ion-item>
  <ion-title  style="font-weight:bold;font-size:16px;color:#444">
    <ion-icon name="checkmark-circle" class="ion11"></ion-icon>
     Order
      Arrived 6
      </ion-title>
      <div class="vl" style="font-size:14px;">
        Your Order has been placed <br>
        10 JAn 2022
      </div>
      <ion-title  style="font-weight:bolder;font-size:14px;color:black">
        <ion-icon name="checkmark-circle" class="ion11"></ion-icon>        Order
        En Route
          </ion-title>
          <div class="vl" style="font-size:14px;">
            Your Order has been placed <br>
            10 JAn 2022
          </div>
          <ion-title  style="font-weight:bold;font-size:16px;color:black">
            <ion-icon name="checkmark-circle" class="ion11"></ion-icon>        Order
            Shipped
              </ion-title>
              <div class="vl" style="font-size:12px;">
                Your Order has been placed <br>
                10 JAn 2022
              </div>
              <ion-title  style="font-weight:bold;font-size:16px;color:black">
                <ion-icon class="ion-icon1" name="ellipse-outline"></ion-icon>
    Order
Processed
</ion-title>

</ion-card>

  <ion-card style="padding-bottom:20px">
    <ion-item class="ion-card-header2">
      <ion-label style="color: white;">Review Order </ion-label>
    </ion-item>
    <ion-item lines="full">
      <img src="assets/icon/cut.jpg" class="menuicon"/>
  
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
    </ion-item>
    <ion-item lines="full">
    <ion-textarea rows="6" cols="20" placeholder="Write your review"></ion-textarea>
  </ion-item>
  <div padding>
    <ion-button icon-left size="medium" (click)="qt()"  expand="full" shape="round" color="primary" tappable>
      Add your Review
   </ion-button>    </div>
  </ion-card>

</ion-content>

