.btn{
    cursor: pointer;
    display: block;
    width: 50%;
    height: 44px;
    border-radius: 4px;
    font-size: 17px;
    border: none;
    outline: none;
    border: none;
    margin: auto;
    text-transform: none;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 2px #fff;
    color:white;
    background-color: #4c8dff; /* Green */
  }
  ion-icon{
    font-size: 20px;
    vertical-align: middle;
    margin-right:15px;
    color:#444;
  }
  
button {
    background-color: #E8E8E8; /* Green */
    border: none;
    color: #444;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
  }
  table{
      width: 100%;
  }
  
.button1 {
    background-color: #4c8dff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
  }

.headercontent{
  height:10px;
}
  ion-toolbar{
   --background:#fff;
   font-size:20px;
  }

  .btn{
    cursor: pointer;
    display: block;
    width: 50%;
    height: 44px;
    border-radius: 4px;
    font-size: 17px;
    border: none;
    outline: none;
    border: none;
    margin: auto;
    text-transform: none;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 2px #fff;
    color:white;
  }
  ion-icon{
    font-size: 20px;
    vertical-align: middle;
    margin-right:15px;
    color:#444;
  }
  
button {
    background-color: #E8E8E8; /* Green */
    border: none;
    color: #444;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
  }
  table{
      width: 100%;
  }
  
.button1 {
    background-color: #4c8dff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
  }

  .img2{
      width: 120px;
      height: 120px;
      margin: auto;
  }

  .inputm{
    font-size: 14px;
    vertical-align: middle;
    color:#7c7c7c;
  }
  .rmenu{
    --background: linear-gradient(360deg, #dee1e1 10%, #f4f4f4 360%);
    font-size: 14px;
    vertical-align: middle;
    color:#7c7c7c;
  }
  .all{
    font-size: 14px;
    vertical-align: middle;
    color:#7c7c7c;
    margin-top: 25px;
  }
  #inputsm{
    font-size: 14px;
    font-family: verdana;
  }